// Bio
.about {
    text-align: center;
    line-height: 1.5rem;
    max-width: 1100px;
}

.titles {
    font-size: 3rem;
    padding: 6rem 0 3rem;
    text-align: center;
}

.about p {
    font-size: 1rem;
    padding-bottom: 1.8rem;
}

.about a{
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #03A062;
    color: #000000;
    border: 1px solid transparent;
    font-weight: bold;
    margin: 1rem;
}

.about a:hover,
.about a:focus{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    transition: 0.5s;
}

.resume {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

// Skills
.skillList {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.skillList a{
    display: flex;
    flex-direction: column;
}

.skillList li {
    justify-content: center;
    text-align: center;
    padding: 1rem 0 2rem;
    font-size: 1.1rem;
}

.skillList li .icons.skills {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    transition: 1.2s;
}

.skills .titles {
    padding-bottom: 2rem;
}

.vsCode {
    display: none;
}

.skillList .skills:hover,
.skillList .skills:focus{
    scale: 1.2;
    color: #03A062;
    transition: 1.2s;
}