html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
a,
i,
p,
span,
figure,
nav,
fieldset,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

header {
  height: 100vh;
}

.landingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.landingText h1 {
  font-size: 3rem;
  padding: 2.25rem 0;
  line-height: 3rem;
}

.landingText h2 {
  font-size: 20.5px;
}

.landingText p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05rem;
  overflow: hidden;
  font-size: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
}

.navLinks.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.navLogo {
  color: #e1e1e1;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: 1.75rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  background-color: #000000;
}

.navLinks {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.navLinks li {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.navLinks a {
  font-size: 1rem;
  width: 100%;
  display: block;
}

.navLinks li:hover {
  background-color: #555;
  -webkit-transition: 1s;
  transition: 1s;
}

.navBurger {
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  width: 30px;
}

.navBurger div {
  background-color: #e1e1e1;
  width: 100%;
  height: 3px;
  margin: 5px;
  border-radius: 20%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burgerToggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.burgerToggle .line2 {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burgerToggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.typed-text {
  font-weight: normal;
  color: #03A062;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  margin-left: 0.1rem;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.about {
  text-align: center;
  line-height: 1.5rem;
  max-width: 1100px;
}

.titles {
  font-size: 3rem;
  padding: 6rem 0 3rem;
  text-align: center;
}

.about p {
  font-size: 1rem;
  padding-bottom: 1.8rem;
}

.about a {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #03A062;
  color: #000000;
  border: 1px solid transparent;
  font-weight: bold;
  margin: 1rem;
}

.about a:hover,
.about a:focus {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resume {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.skillList {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.skillList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillList li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem 0 2rem;
  font-size: 1.1rem;
}

.skillList li .icons.skills {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.skills .titles {
  padding-bottom: 2rem;
}

.vsCode {
  display: none;
}

.skillList .skills:hover,
.skillList .skills:focus {
  scale: 1.2;
  color: #03A062;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.project .projectInfo {
  text-align: center;
}
.project .projectInfo .projectName {
  font-size: 1.5rem;
  padding: 2rem 0;
  line-height: 2.5rem;
}
.project .projectInfo .projectDesc {
  font-size: 1.1rem;
  padding-bottom: 1.25rem;
  width: 90%;
  margin: 0 auto;
}
.project .projectInfo .projectIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 2.25rem 0;
}
.project .projectInfo .projectIcons .projectIcons .projects {
  font-size: 1.5rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.project .projectInfo .projectLink {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
.project .projectInfo .projectLink a {
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.projectLink a:focus-within,
.projectLink a:hover {
  background-color: #03A062;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectIcons .projects:hover,
.projectIcons .projects:focus {
  color: #03A062;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.projectDisplay {
  width: 90%;
  margin: 0 auto;
}

.projectDisplay video {
  display: none;
}

.projectDisplay img,
.projectDisplay video {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1.5px solid white;
  -webkit-transition: 1.25s;
  transition: 1.25s;
}

.project {
  background: #222324;
  border-radius: 2rem;
  border: 3px solid #FFFFFF60;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.project:hover {
  box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.21);
  -webkit-box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.21);
  -moz-box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, 0.21);
  -webkit-transition: 1s;
  transition: 1s;
}

footer .titles {
  padding-top: 6rem;
}

footer p {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  width: 90%;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  margin-bottom: 1.2rem;
  padding: 1rem;
}

textarea {
  resize: none;
  width: 90%;
  padding: 1rem;
}

button {
  margin-top: 1.2rem;
  border-radius: 3rem;
  border: none;
  padding: 0.7rem 1.4rem;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #FFFFFF;
}

button:hover,
button:focus {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem 0;
  font-size: 2rem;
}

.contactIcons i {
  -webkit-transition: 1s;
  transition: 1s;
}

.contactIcons i:hover,
.contactIcons i:focus {
  color: #03A062;
  scale: 1.4;
  -webkit-transition: 1s;
  transition: 1s;
}

.contactIcons li a {
  position: relative;
}

.scrollToTop {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.scrollToTop:hover,
.scrollToTop:focus {
  cursor: pointer;
}

@media screen and (min-width: 430px) {
  .project .projectInfo .projectLink a {
    padding: 1rem 2rem;
  }

  .landingText h2,
.landingText p {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 1.25rem;
  }

  .projectDisplay img {
    display: none;
  }

  .projectDisplay video {
    display: block;
  }

  .skillList {
    grid-template-columns: 33% 33% 32%;
  }

  .vsCode {
    display: block;
  }
}
@media screen and (min-width: 650px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navLinks li {
    opacity: 1;
    padding: 1.5rem 1rem;
  }

  .navBurger {
    display: none;
  }

  .project .projectInfo .projectName {
    font-size: 2rem;
    padding: 2rem 0;
  }
  .project .projectInfo .projectDesc {
    font-size: 1.3rem;
  }
  .project .projectInfo .projectIcons {
    font-size: 2rem;
    padding: 2rem 0;
    max-width: 800px;
    margin: 0 auto;
  }
  .project .projectInfo .projectLink {
    font-size: 1.35rem;
  }
  .project .projectInfo .projectLink span {
    padding: 0 1rem;
  }

  button {
    padding: 1rem 2rem;
  }

  .scrollToTop {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 985px) {
  .landingText {
    height: 100vh;
  }

  .landingText h1 {
    font-size: 4rem;
    padding: 4.5rem 0;
  }

  .landingText h2,
.landingText p {
    font-size: 2rem;
  }

  .skillList {
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
  }

  .skillList li .icons.skills {
    font-size: 3rem;
  }

  .skillList a {
    font-size: 1.23rem;
  }

  .projectDesc,
.projectDisplay img,
.projectDisplay video {
    max-width: 800px;
  }

  footer p {
    padding-bottom: 2rem;
  }

  form input {
    width: calc(100% / 2);
  }

  .name {
    margin-right: 3px;
  }

  .email {
    margin-left: 3px;
  }

  fieldset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
html {
  background-color: #151414;
  font-family: "Montserrat", sans-serif;
  line-height: 1.75rem;
  letter-spacing: 1.25px;
}